body {
  background: #DCCCFF;
  font-family: "Nunito", sans-serif;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: #75175D;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .navbar-brand{
  color: #75175D;
}

#picName span{
  color: #75175D;
}

#picName h1{
  font-weight: 100;
  font-size: 3rem;
}

.row {
  margin-bottom: 50px;

}

.col-lg-6 {
  padding: 0;
}

.navbar.scrolled {
  background: #D19CDC;
  transition: background 1s;
}

@media (max-width: 1200px) {
  #picName h1{
    font-weight: 100;
    font-size: 2.5rem;
  }
}
